<%-include('layout/boilerplate.ejs') %>

<form action="/inputs" method="POST">
  <h1 align="center">PtInputs</h1>
  <div class="main">
    <div class="PTinputs">
      <select name="state">
        <option value="" selected disabled>Select state</option>
        <option value="AndraPradesh">Andra Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Gujrat">Gujrat</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerela">Kerela</option>
        <option value="MadhyaPradesh">Madhya Pradesh</option>
        <option value="Maharahstra">Maharahstra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Orissa">Orrisa</option>
        <option value="Puducherry">Puducherry</option>
        <option value="Sikkim">Sikkim</option>
        <option value="TamilNadu">TamilNadu</option>
        <option value="Telenagana">Telenagana</option>
        <option value="Tripura">Tripura</option>
        <option value="WestBengal">West Bengal</option>
      </select>
    </div>
    <div class="salary">
      <select name="salarytype">
        <option value="" selected disabled>Salary</option>
        <option value="annual">Annual</option>
        <option value="monthly">monthly</option>
      </select>
      <div>
        <div class="gender">
      <select name="gender">
        <option value="" selected disabled>gender</option>
        <option value="m">Male</option>
        <option value="f">Female</option>
      </select>
      <div>
        <label for="salary">Enter salary</label>
        <input type="text" name="salary" id="salary" required />
      </div>
    </div>
  </div>
</form>
  <button class="btn btn-success">Submit</button>
<a href="/"><button class="btn btn-danger">Back</button></a>

<div>
<%if(locals.sData!=0){%>
<div>
  <div><p>Amount to be deducted: <%= sData.tax %></p></div>
  <div><p>Frequency Of deduction : <%= sData.frequency %></p></div>
  <div><p>Due Date of Filing : <%= sData.dueDate %></p></div>
  <div>
    Official Website Link
    <a href="<%= sData.Website %>"><%= sData.Website %></a>
  </div>
</div>
<%}%>
</div>
