<%-include('layout/boilerplate.ejs') %>

<div><p>Amount to be deducted: <%= stateData.tax %></p></div>
<div><p>Frequency Of deduction : <%= stateData.frequency %></p></div>
<div><p>Due Date of Filing : <%= stateData.dueDate %></p></div>
<div>
  Official Website Link
  <a href="<%= stateData.Website %>"><%= stateData.Website %></a>
</div>
