<%-include('../layout/boilerplate.ejs') %>

  <style>
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  </style>
  <body>
  <h1>Enter Details</h1>
    <form action="/lwf/<%-statename%>" method="post">
      <select name="employment_class">
        <option value="" selected disabled>Select Class of employement</option>
        <%for(let data=0; data<options.length; data++){%>
        <option value="<%-options[data]%>" ><%=options[data]%></option>
      
<%}%>
</select> 
<div>
<label for="gross_salary"> <b> Enter gross salary </b> </label>
<input type="text" name="gross_salary" required>
<br>
<label for="employee_count"> <b> Enter number of employee in Organisation </b></label>
<input type="text" name="employee_count" required>
<br>
</div>
<div>
  <button class="btn btn-success">Submit</button>
    </div>
    </form>
    <div>
      <a href="/lwf"><button class="btn btn-secondary">Back</button></a>
     <a href="/"><button class="btn btn-danger">Home</button></a>
     </div>
    <!--Output Section-->

    <%if(locals.lwfResult!=0){%>
     <div style="height:20vh">
      <h1>Output</h1>
      <p><b> Input Gross Salary </b> : <%-g_Salary%></p>
      <%for(let data in lwfResult){%> <%if(data!=="Link"){%>
      <p><b><%-data%>: </b><%-lwfResult[data]%></p>
      <%}else {%>
      <p>
        Link
        <a href="<%-lwfResult[data]%>"><%-lwfResult[data]%></a>
      </p>
      <%}%> <%}%>
      <%}%>
  </body>
</html>
